*
{
    margin: 0px;

}
header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
}
.korpus
{
width: 280px;
height: 80vh;
background: #222;
display: flex;
align-items: center;
flex-direction: column;
border-radius: 45px;
border-bottom-left-radius :40px;
border-bottom-right-radius: 40px;
border: 2px solid #000;
}
.kalonka
{
    width: 99%;
    height: 5vh;
    background: #222;
    border-top-left-radius :46px;
    border-top-right-radius: 46px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.kalonka1
{
    width: 30%;
    height: 2vh;
    background: #FFF;
    border-radius: 5px;
}
.ekran
{
    width: 90%;
    height: 30vh;
    border-radius: 25px;
    border: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ekran p{
    font-family: monospace;
    table-layout: fixed;
    text-transform: uppercase;
    font-size: 200%;
    color:#FFF;
}
.ekran1
{
    width: 90%;
    height: 70%;
    margin-top: 5px;
    margin-top: 5px;
    border:0px;
    background:orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.ekran1 .p
{
    width: 100%;
    height: 20px;
    border-top: 1px solid #000;
    color: #000;
}
.ekran1 p
{
    width: 100%;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}

.knopka
{
    width:100%;
    height: 43vh ;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* border: 1px solid red; */
}
.knopka1
{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid red; */
}
.knopka11
{
  width: 30%;
  height: 100%;
  margin:auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
}
.button
{
    width: 90%;
    height: 38%;
    border: 1px solid #FFF;
    margin-top: 3px;
    border-radius: 5px;
    background: #000;
    box-shadow: 1px 1px 1px #000;
    color: #FFf;
}
.button1
{
    color: #FFf;
    width: 80%;
    height: 80%;
    border: 1px solid #FFF;
    border-radius: 5px;
    background: #000;
    box-shadow: 1px 1px 1px #000;
}
.knopka2 .button{
    width: 30%;
    height: 80%;
    border: 1px solid #FFF;
    margin-top: 3px;
    border-radius: 5px;
    background: #000;
    box-shadow: 1px 1px 1px #000;
    color: #FFF;
    margin: auto;

}
.knopka2
{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid red; */
}