.a:hover
{
	background: none;
}
.b:hover
{
	background: #FFF;
}

.heder2
{

    width: 100%;
    height: 116vh;
    background: #CCC;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.kh
{
	font-size: 2.6em;
	color: rgb(2,69,88);
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 5px;
    font-family: monospace;
}
.khm
{
	width: 100%;
	height: 40vh;
	background: #FFF;
	display: flex;
	flex-direction: row;

}
.khm1
{
	width: 33.3%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
}
.khmi
{

   width: 60px;
   height: 60px;
   border-radius: 50%;
}
.khmt
{
	font-size: 1.4em;
	font-family: monospace;
	margin-top: 20px;
	color:#0ccccc;
	font-weight: 10px;
	text-transform: uppercase;
}

.khmm
{
	width: 80%;
	font-size: 1.3em;
	font-family: monospace;
	margin-top: 20px;
	color:#000;
	font-weight: 10px;
}
/*bo'limi ikkinchi past eng oxiri*/

.w1
{
	width: 100%;
	height: 10vh;
	margin-top: 50px;
    display: flex;
	flex-direction: row;

}
.w11
{

	width: 20%;
	margin-left: 10%;
	height: 100%;
	background: #FFF;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}
.mey
{

    font-family:monospace; ;
    font-size: 1.2em;
    margin-left: 5px;
}
.w12
{

	width: 20%;
	margin-left: 10%;
	height: 100%;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 

}
.w12t
{
	display: flex;
    flex-direction: column;
}
.w12tt
{
	font-family: fantasy;
	margin-bottom: 2px;

}
.w12tm
{
	font-family: monospace;
	margin-top: 2px;
}
